.contianer {
  margin-top: 100px;
}
.login-form {
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;
}
.login-form input {
  display: block;
  border: 1px solid lightgray;
  width: 100%;
  height: 43px;
  margin-bottom: 20px;
  padding-left: 10px;
}
input:focus {
  outline: none;
}
